// Define variables for your color scheme

// For example:
$purple: #3A1F5D;
$darkpurple: #493657;
$pink: #C83660;
$hotpink: #F638DC;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
