// Define variables for your color scheme

// For example:
$purple: #3A1F5D !default;
$darkpurple: #493657 !default;
$pink: #C83660 !default;
$hotpink: #F638DC !default;
$yellow: #FFC65A !default;
$orange: #E67E22 !default;
$gray: #0E0000 !default;
$light-white: #F4F4F4 !default;