.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    position: relative;
    max-height: auto;
}

.aboutText{
    font-size:var(--text);
    padding: 0.9em;

    &:p{
       padding: 0.9em;
       margin: 0.5em;  
    }  
}

.aboutText h1{
 width: 21em;
 margin: 0.5em;
}

.aboutUnImage{
    position: absolute;
    max-height: min-content;
    max-width: 100%;
    top: 48em;
    left: 31em;
}

 
.aboutUnImage img{
    width: 186em;
    height: 32em;
}
// responsive view of the sites 
@media only screen and (max-width: 334px) {
    .aboutUnImage img {
        width: 24em;
        height: 28em;
    }
    .aboutText {
        min-width: 21em;
    }
    .aboutText h1 {
      width: 8em;
      padding: 0.5em;
    }
    .aboutText p {
       padding: 2em;
       width: 19em;
    }
    .aboutUnImage img{
        position: absolute;
        max-height: min-content;
        width: 30em;
        top: 37em;
        right: -4em;
    }
  }