// Specific CSS for your home-page
body {
background-color: $purple;
color:$light-gray;
font-family: Helvetica;
&:h1{
    color: $yellow;
    font-size: 2em;   
   }
}

.contactForm{
  color:$pink;
&:inputFille{
 background-color:$light-gray ;
    }
}