<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/lish90 "><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/Lish901"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/alisha-m-40980416b/"><i class="fab fa-linkedin"></i></a>
  </div>
</div> 



   # <i class="fab fa-github"><%=link_to "Github",https://github.com/lish90 %></i>
# <%=link_to "Twitter",  %>
# <%=link_to "Linkedin", %>