<div class="container">
  <div class="aboutText">
    <h1>About me</h1>

    <p>I am a Full-Stack Software Developer who recently made a life switch from working with vulnerable families into coding.
    After spending number of years working as Function Family Therapist. I am ready for a new world of challenges. 
    During my time at Le Wagon, I have increased my knowledge and my execution in writing code. Currently, 
    I am working with a team of four on our final Ruby on Rails Prototype ‘Property Ai’ a site where buyers can 
    gain knowledge of the area which they intended to buy. I enjoy solving problems and passionate about working 
    collaboratively to make products. Looking forward to developing my skills furthure.
    </p>
  </div>

  <div class="aboutVisual">
    <div class="AboutHistory"></div>
    <div class="aboutUnImage">
        <%=image_tag "undraw_about_me.svg" %>
        <%=link_to "home", root_path%>
    <div>
  </div>
</div>