<div class="container">
# form below
  <div class="contactForm"> 
    <h1>Contact me</h1>
  </div>
  <div class="contactImage">
    <%=image_tag "undraw_social_girl_562b 1.svg" %>
    <%=link_to"HOME", root_path%>
  </div>
</div>