<div class="container"> 
    <div class="heroText"> 
        <h3>"Hi, I'm Alisha, Webdeveloper"</h3> 
      <p><span id="banner-typed-info"></span></p>
    </div>
    <div class="heroImage"> 
        <%=image_tag "undraw_dev_female.svg" %>
    </div>
</div>

