<h1>Pages#skills</h1>

<h1>Skills and Experinces</h1>


<p>The main area of my expertise is front end developer ( client side of the web).
HTML, CSS,JS, building small and meduim web apps with Ruby on Rails, custom plugin, feature, animations and coding interactive layouts.
Using Ruby on Rails as full stack developer .</p>

<%=image_tag "undraw_static_assets_rpm6 1.svg" %>
<%= link_to "home", root_path%>