<div class="container">
  <div class="skillsText">
    <br>
    <br>
    <p>The main area of my expertise is front end developer ( client side of the web).
    HTML, CSS,JS, building small and meduim web apps with Ruby on Rails, custom plugin, feature, animations and coding interactive layouts.
    Using Ruby on Rails as full stack developer .</p>
    <br>
  <div class="skillheader">
      <h1 class="skillheader"> Skills & Experinces</h1>
  </div>
  </div>
  <div class="skillUndraw">
      <%=image_tag "undraw_static_assets_rpm6 1.svg" %>
    </div>

</div>

