
.footer-links  {
    position: fixed;
    top: 75%;
}

.footer-links a{
display: block;
text-align: center;
padding: 0.4em;
transition: all 0.3s ease;
color: $hotpink;
font-size: 3em;
}

.footer-links a:hover {
  opacity: 1;
  color: $pink;
}



