
.footer-links  {
    position: fixed;
    top: 74%;
    left: 7%;
}

.footer-links a{
display: block;
text-align: center;
padding: 0.4em;
transition: all 0.3s ease;
color: $hotpink;
font-size: 3em;
}

.footer-links a:hover {
  opacity: 1;
  color: $pink;
}
@media only screen and (max-width: 300px) {
    .footer-links {
        top: 35%;
        right:4%;
    }

  }


